# --- Unity 相关 ---
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
MemoryCaptures/

# --- Visual Studio / JetBrains Rider (C# IDE) 相关 ---
.vscode/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb

# --- Unity 的自动生成文件 ---
*.pidb
*.suo
*.svd
*.psess
*.user
*.userprefs
*.unityproj
*.sln
*.log
*.trace
*.aps

# --- 不提交 Unity 导出的包 ---
*.unitypackage

# --- 只提交 _Project 目录的必要文件 ---
# 忽略 3D 模型源文件（FBX, OBJ, BLEND）和大贴图
*.tga
*.psd
*.hdr
*.tiff
*.exr


# 忽略大音频文件（存云盘）
*.wav
*.mp3
*.ogg

# Wwise工程文件（压缩后存云盘）
Assets/_SoundEngine/Wwise/

# 忽略视频文件（存云盘）
*.mp4
*.avi
*.mov
*.mkv

# --- Mac 系统相关 ---
.DS_Store
._*

# --- Windows 系统相关 ---
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# --- 版本管理相关 ---
.git/
.gitignore
*.gitkeep

# --- 依赖管理 ---
/Packages/com.unity.package-manager/
